@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #2b2d42;
  color: #edf2f4;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

label {
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

input[type="number"] {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #003566;
  color: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

#result {
  margin: 20px auto;
  max-width: 500px;
  font-size: 18px;
  font-weight: bold;
}

#clean-btn {
  font-size: 1rem;
  padding: 10px;
  font-weight: 400;
  background-color: #3a555e;
}

#totalSeats {
  width: 100px;
}

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#info-container>p {
  width: 70%;
}

@media screen and (max-width: 600px) {
  form {
    max-width: 90%;
  }

  label {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  input[type="number"] {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  button {
    margin: 1rem;
  }

  #result {
    max-width: 90%;
  }

  #info-container>p {
    width: 90%;
  }
}