@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --gap: 0.8rem;
  --gap-lg:1.5rem;
  --padding: 0.8rem;
  --padding-sl: 0.4rem;
  --padding-lg: 4rem;
  --btn-padding: 0.4rem 0.8rem;
  --margin: 0.8rem;

  --border-radius: 5px;

  --font-lg: 1.5rem;
  --font-xlg: 2.5rem;
  --font-sl: 0.8rem;
  --font-md: 1.1rem;

  --light-color: #ffffff;
  --light-alt-color: #c0c1dd;
  --dark-color: #14213d;
  --dark-alt-color: #073b4c;
  --theme-color: #fca311;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: inherit;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: all 0.2 ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

h1{
  font-size: var(--font-xlg);
}

h2{
  font-size: var(--font-lg);
}

@media screen and (max-width: 768px) {
  :root{
    --font-lg: 1.2rem;
    --font-xlg: 2rem;
    --font-md: 1rem;
    --padding-lg: 2rem;
  }
}

@media screen and (max-width: 480px) {
  :root{
    --font-lg: 1rem;
    --font-xlg: 1.8rem;
    --font-md: 0.9rem;
    --padding: 0.5rem;
    --padding-sl: 0.3rem;
    --padding-lg: 2rem;
    --margin: 0.5rem;
  }
}